body {
    font-family: Poppins, sans-serif;
    background-color: #222831;
    color: white;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 6px 0;
}

.navitem {
    color: white;
    font-weight: bold;
    font-size:medium;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 0 4px;
}

.navitem:hover {
    background-color: #00ADB5;
    color: #222831;
}

.experienceitem {
    color: white;
}

.experienceitem:hover {
    background-color: #00ADB5;
    color: #222831;
}

.exp-content:hover {
    background-color: white;
    color: #222831;

}

.grid-container {
    margin-bottom: 5rem;
    border: 2px solid #00ADB5;
    border-radius: 5px;
}

.scrollable {
    height: 300px;
    width: 225px;
    overflow-y: auto;
    border: 3px solid #00ADB5;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.scrollable-blog {
    height: 300px;
    width: 225px;
    overflow-y: auto;
    border: 3px solid #00ADB5;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.under-title {
        text-align: center;
}

.left-section {
    height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

.right-section {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#typewriter {
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #00ADB5; }
}

h1, h4, h5 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 85%;
}

.highlight {
    color: #00ADB5;
}

.highlight-title{
    color:#00ADB5
}

.highlight-title:hover {
    background-color: #00ADB5;
    color: white;
}

.career-break {
    font-style: italic;
    font-size: 70%;
}

.image-container {
    position: relative;
    width: auto;
}

.background-image {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.profile-picture {
    width: 70%;
    max-width: 250px;
    height: auto;
    position: absolute;
    top: 15%;
    left: 12.5%;
    border-radius: 50%;
}

.exp-details {
    height: 300px;
    width: 225px;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    padding-top: 127.5px;
    display: none;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.instagram-embed-container {
    max-width: 500px; /* Set a maximum width */
    width: 100%; /* Make it responsive */
    margin: auto;
}

.instagram-media {
    width: 100% !important; /* Ensure the embedded media takes full width */
    max-width: 100% !important; /* Prevent it from exceeding the container's width */
}

ion-icon {
    color: #00ADB5;
  }

ion-icon:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
}

.cooking-gallery {
    text-align: center;
}

.topics {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.topics button {
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #00ADB5;
    color: white;
    border: none;
    border-radius: 5px;
}

.topics button:hover {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.blog-content {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.topic { 
    display: none;
}

.instruction {
    justify-content: center;
    align-items: center;
    font-size: small;
}

@media (min-width: 960px) {
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }   
    .scrollable {
        height: 300px;
        width: 450px;
        overflow-y: auto;
        border: 3px solid #00ADB5;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .scrollable-blog {
        height: 400px;
        width: 600px;
        overflow-y: auto;
        border: 3px solid #00ADB5;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .image-container {
        position: relative;
        width: auto;
    }
    
    .background-image {
        display: block;
        width: 100%;
        max-width: 250px;
    }
    
    .profile-picture {
        width: 70%;
        max-width: 250px;
        position: absolute;
        top: 15%;
        left: 12.5%;
        border-radius: 50%;
    }
    
    .exp-details {
        height: 300px;
        width: 375px;
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        display: none;
    }

    .instruction {
        justify-content: center;
        align-items: center;
        font-size: small;
    }

}