body {
    font-family: Poppins, sans-serif;
    background-color: #222831;
    color: white;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navitem {
    color: white;
    font-size:medium;
    text-decoration: none;
}

.grid-container {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 20px; */
    margin-bottom: 5rem;
    border: 2px solid #00ADB5;
}

.left-section {
    height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

.right-section {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom: 10rem;
}

h1, h4, h5 {
    margin: 0;
    padding: 0;
}


.highlight {
    color: #00ADB5;
}